body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

/* CENTER EVERYTHING */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* CARD UI */
.card {
  background: #111827;
  padding: 30px;
  border-radius: 16px;
  width: 380px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* TEXT */
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 20px;
}

/* INPUT */
.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #2563eb;
}

/* RESULT */
.result {
  margin-top: 20px;
  padding: 10px;
  background: #1f2937;
  border-radius: 10px;
}

/* GRID (HOME) */
.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}